:root {
    --deep-koamaru : rgb(48, 51, 107);
    --turbo : rgb(249, 202, 36);

    --light-backgroud : rgb(248, 239, 186) ;
    --light-color : rgb(59, 59, 152);
}

* {
    box-sizing : border-box;
}


/* Generalities */
body {
    padding : 0;
    margin : 0 auto;
    width : 1000px;   
    text-align : center; 
    overflow : hidden;
    font-family :'Open Sans', sans-serif;
    
}

header {
    text-align : center;
    display : flex;
    justify-content: space-around;
    align-items : center;
}




h1 {
    
    
    margin-top: 1em;
    letter-spacing :  1em;
    font-size : 2em;
    text-transform : uppercase;
    
}
a {
    text-decoration : none;
    color :#82589F;
    font-weight: bold;

    
}
/* Dark mode */

.dark-mode-buttons {
    display : flex;
    text-align : center;
    align-items : center;
    justify-content : space-around;
    width : 100px;
 
    
}

.dark-mode-buttons .mode-active {
    padding : 7px;
    color : var(--turbo);
}

.toggle-dark, .toggle-light {
    transition : all .3s ease-in-out;
    cursor : pointer;
}

.toggle-dark {
    background-color : var(--deep-koamaru);
    color : var(--turbo);
    
}

.toggle-light {
    background-color : var(--light-backgroud);
    color : var(--light-color);
    
}

.mode-active {
    background : #82589F;
    width : 2rem;
    height : 2rem;
    border-radius : 50%;

}

.container {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 800px;
    height : 600px;    
    margin : 0 auto;
    position : relative;
    



}

.container .slide {
    position : absolute;
    width : 400px;
    height : 400px;
    overflow : hidden;
    z-index : -1;
    opacity : 0;
    background-color: #201f15;
    border-radius : 50%;
}

.slide img {
    width : 100%;
    height : 100%;
    object-fit : cover;
}
/* --> management for the differents slides*/

.slide.active {
    opacity : 1;
    z-index : 99;
    box-shadow : 0 0 105px -35px  rgba(0, 0, 0, .75);
}

.slide.active:hover {
    transform : scale(1.1);
}

.slide.before, .slide.after {
    z-index : 2;
    opacity : .4;
}

.slide.before {
    transform : translate(-60%, 0);
}

.slide.after {
    transform : translate(60%, 0);
}


/* --> buttons management */



.container .buttons {

    position : absolute;
    top : 50%;
    left : 50.50%;
    width : 1000px;
    transform : translate(-50%, -50%);
    opacity : .75;
    z-index: 100;
}

.buttons {
    
    display : flex;
    justify-content : space-between;
    
}

.buttons .button {
   color: var(--gold);
   font-size: 32px;
   cursor : pointer;
   position : relative;
   opacity : .70;
   transition: all 3s ease-in-out;
   

}

.buttons .button, .container .slide {
    transition : all .3s ease-in-out;
}

.buttons .button:hover{
    opacity : 1;
    transform : scale(1.1);
}



@media screen and (max-width : 860px){

   
    h1 {
        letter-spacing : .3em;
        font-size : 1.5em;
    }
    header {
        flex-direction : column;

    }
    .container {
        width: 600px;
    }

    .container .slide {
        width : 300px;
        height : 300px;
    }

    .container .buttons {
        width : 150px;
        top : 520px;

    }
}
